{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RAAP</title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/brain.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script defer src="{% static 'script.js'%}"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/brain.png' %}" alt="">
            RAAP
        </div>
        <nav class="janela">
            <ul>
                <li>Conheça
                    <ul>
                        <li>Ideia</li>
                        <li>Como Funciona</li>
                    </ul>
                </li>
                <li>Programas
                    <ul>
                        <li>Universidade</li>
                        <li>Extensão</li>
                    </ul>
                </li>
                </li>
                <li>Blog</li>
                <li>Contato</li>
                <li><a href="/cadastro"></a> Entrar</li>
            </ul>
        </nav>
        
    <div class="menu">
        <span class="t1"></span>
        <span class="t2"></span>
        <span class="t3"></span>
    </div>
    </header>
    <article></article>
    <div id="sobre">
        <div class="titulo">
        <h2>Como agendar meu psicólogo online?</h2>
        </div>
    <div class="img">
        <div class="icone">
        <img src="{% static 'images/seo.png' %}" alt="">
        <p><span>1.</span> Busca inteligente: O servidor </p><p> realiza a conexão para você</p>
        </div>
        <div class="icone">
        <img src="{% static 'images/calendar.png' %}" alt="">
        <p><span>2.</span> Escolha o melhor dia e </p><p> horário no confronto da sua casa</p>
        </div>
        <div class="icone">
        <img src="{% static 'images/piggy-bank.png' %}" alt="">
        <p><span>3.</span> E tudo isso de graça! </p><p> Prático, Seguro e Econômico</p>
        </div>
    </div>
    <div class="btn">
        <button><a href="/cadastro">Cadastre-se</a></button>
    </div>
    </div>
    <div id="bgvideo">
        <h1>kkkkkk</h1>
        <p>wow</p>
    </div>
    <section>section</section>
    <aside>aside</aside>
    <footer>
        <div class="faq"> 
            <a href="">Perguntas Frequentes</a>
            <a href="">Termos de Uso</a>
            <a href="">Política de Privacidade</a>
        </div>
        <div class="redesSociais" >
            <p>Siga-nos!</p>
            <div>
                <img src="{% static 'images/facebook.png' %}" alt="">
                <img src="{% static 'images/instagram.png' %}" alt="">
                <img src="{% static 'images/linkedin.png' %}" alt="">
                <img src="{% static 'images/twitter.png' %}" alt="">
            </div>
        </div>
        <div class="download">
            <div>
                <img src="{% static 'images/app.png' %}" alt="">
            </div>
        </div>
        
    </footer>
    <div id="direitosAutorais">
            <img src="{% static 'images/brain.png' %}" alt="">
            <p>2019 - RAAP</p>
    </div>
</body>
</html>