{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RAAP</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script defer src="{% static 'script.js'%}"></script>
</head>
<body>
    <header>
        <div class="logo">
            RAAP
        </div>
        <nav class="janela">
            <ul>
                <li>Conheça
                    <ul>
                        <li>Ideia</li>
                        <li>Como Funciona</li>
                    </ul>
                </li>
                <li>Programas
                    <ul>
                        <li>Universidade</li>
                        <li>Extensão</li>
                    </ul>
                </li>
                <li>Cadastro
                    <ul>
                        <li>Usuário</li>
                        <li>Psicólogos</li>
                    </ul>
                </li>
                <li>Blog</li>
                <li>Contato</li>
            </ul>
        </nav>
    <div class="menu">
        <span class="t1"></span>
        <span class="t2"></span>
        <span class="t3"></span>
    </div>
    </header>
    <article>
        <div class="texto">
        <p>Atendimento psicológico acessível e profissional.</p>
        </div>
    </article>
    <section>section</section>
    <aside>aside</aside>
    <footer>footer</footer>
</body>
</html>